{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Enquêtes grain de sel</title>
	<link rel="shortcut icon" href="{% static 'images/gt_favicon.png' %}">
	
	<link rel="stylesheet" media="screen" href="{% static 'css/font-open-sans.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Licorice&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<h6 class="navbar-brand2">PASSE MURAILLE</h6><!--<img src="{% static 'images/mini_logo_pm_sans_fond.png' %}" alt="logo">-->

			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class=""><a href="{% url 'index' %}">Accueil</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Informations<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'historic' %}">Historique</a></li>
							<li class=""><a href="{% url 'map' %}">Carte</a></li>
							<li><a href="#">...</a></li>

						</ul>
					</li>
					<li><a href="{% url 'list_clues' %}">Indices</a></li>
                    
                    <!-- On change le connection en deco quand le user est connecté -->
                    {% if user.is_authenticated %}
                    <li><a class="btn" href="{% url 'logout' %}">DECONNEXION</a></li>
	                {% else %}
                    <li><a class="btn" href="{% url 'login' %}">CONNEXION</a></li>
                    {% endif %}
					
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

    <header id="head" class="secondary"></header><!--Barre noire en haut-->

	<div class="container">
        <!--Gestion des message de succès et d'erreur -->
        {% if messages %}

            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}

        {% endif %}

	<ol class="breadcrumb">
    	<li><a href="{% url 'index' %}">Accueil</a></li>
		<li class="active">Accès utilisateur</li>
	</ol>
    {% block content %}
    {% endblock %}
	</div> <!--container-->


	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<!-- Le premier footer avec des trucs stylé à remettre si c'est pour un projet plus sérieux mais tant que ça reste familiale c'est pas très utile

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p id="phone_number">06 86 71 80 30</p>		
							<p id="mail_adress"><a href="mailto:#">philippe.pavec@hotmail.com</a></p><br>
							<br>
							
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">

								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget canceled_on_phone">
						<h3 class="widget-title">Informations techniques</h3>
						<div class="widget-body">
							<p id="info_techniques">Publié sur la platforme Heroku, codé grâce à la framework django.<br><br>
							Si il y a un problème durant le jeu, n'hésitez pas à appeler, nous ferons notre possible pour y pallier et améliorer l'expérience des prochains enquêteurs.</p>
						</div>
					</div>
					
				</div> 
			</div>
		</div>
		-->

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav menu_footer">
								<a href="{% url 'index' %}">Accueil</a> | 
								<a href="{% url 'historic' %}">Historique</a> |
								<a href="{% url 'map' %}">Carte</a> |
								<a href="{% url 'list_clues' %}">Indices</a> |
								<b><a href="{% url 'login' %}">Connexion</a></b>
                                
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								<!-- Copyright &copy; 2021, Solène & Philippe PAVEC -->Contact : 06 82 08 64 85
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/headroom.min.js' %}"></script>
	<script src="{% static 'js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'js/template.js' %}"></script>
</body>
</html>